<div class="container">
  <div class="col-lg-8">
    <div class="page-header">
      <h3>New connection</h3>
    </div>
    <%= render 'form' %>
  </div>
</div>

<a href="<%= connections_path %>" class="btn btn-link"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
