<div class="chart-header"></div>
<div class="chart-body"></div>
<div class="chart-settings">
laksdlfajkdsflksk
</div>
<div class="chart-footer clearfix">
  <div class="pull-right">
    <span class="glyphicon glyphicon-cog settings-icon"></span>
  </div>
</div>