// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-spot {
  padding: 20px;

  .spot-inner {
    min-height: 200px;
    &.open-settings {
      .chart-settings {
        display: block;
      }
    }
  }

  &.empty {

    .spot-inner {
      border: 3px dashed #f5f5f5;
    }

    &.drop-hover {
      .spot-inner {
        border-color: #5A87C5;
      }
    }
  }

  .chart-header {
    line-height: 20px;
    background: #f5f5f5;
  }

  .chart-body {
    height: 200px;
    border-bottom: 1px solid #eee;
  }

  .chart-settings {
    display: none;
    background: #f5f5f5;
    padding: 5px;
  }

  .chart-footer {
    background: #f5f5f5;
    color: #a0a0a0;
    font-size: 18px;
    padding: 0px 5px;
    line-height: 30px;
    border-radius: 0px 0px 4px 4px;
    .settings-icon {
      cursor: pointer;
      &:hover {
        color: #333;
      }
    }
  }

}

.entity-choose-container {
  position: fixed;
  top: 51px;
  bottom: 0px;
  right: 0px;
  width: 100px;
  border-left: 1px solid #eee;
  .entity-choice {
    color: #aaa;
    padding: 35px;
    vertical-align: top;
    font-size: 30px;
    cursor: move;
    span.glyphicon {
      margin-top: -14px;
    }
    &:hover {
      background: #fafafa;
    }
  }
}