<div class="entity-choose-container">
  <div class="entity-choice" data-type="bar">
    <span class="glyphicon glyphicon-signal"></span>
  </div>
</div>
<div class="container">
  <div class="dashboard-container row">
    <div class="row">
      <div class="dashboard-spot empty col-md-6" data-slot="0">
        <div class="spot-inner"></div>
      </div>
      <div class="dashboard-spot empty col-md-6" data-slot="1">
        <div class="spot-inner"></div>
      </div>
    </div>
    <div class="row">
      <div class="dashboard-spot empty col-md-12" data-slot="2">
        <div class="spot-inner"></div>
      </div>
    </div>
  </div>
</div>