<div class="navbar-header">
    <%= link_to "FastDash", '#', :class => 'navbar-brand' %>
</div>
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        <li><%= link_to('Connections', '/connections') %></li>
        <li><%= link_to('Dashboards', '/connections')  %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><%= link_to('Create Dashboard', 'dashboards/new') %></li>
    </ul>
</div>